# Data
data/

# # Model checkpoints
# checkpoints/
# *.pth
# *.pt
# *.ckpt

# Ignore only log files inside checkpoints
checkpoints/*.json

# Images
images/

# Outputs
outputs/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# IDE
.vscode/
.idea/

# System
.DS_Store